# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_USER=omnimeredu_user_db
POSTGRES_DB_PAYMENT=omnimeredu_payment_db

MONGO_URI=mongodb://root:password@localhost:27017/omnimeredu_read_db?authSource=admin

REDIS_HOST=localhost
REDIS_PORT=6379

# Service Ports
USER_SERVICE_PORT=3001
PAYMENT_SERVICE_PORT=3002
